__pycache__/
.idea/
bin/
dask-worker-space/

domain/__pycache__/
domain/mesher_config/
domain/windmapper_config/
domain/config_WN.txt
domain/mesher_config.py
domain/windmapper_config.py

nwp_forcing/grib_ar/
nwp_forcing/nc_ar/
nwp_forcing/grib_download/

run_chm/output/
run_chm/slurm-*

www/tiles/
www/index.html

slack_webhook.py

*.asc*
*.png
*.vtu
*.log
*.kmz
*.kml
*.pyc
*.tif
*.dot
*.pdf
*.mesh
*.param
*.h5
*.nc
*.ESMF_LogFile
*.ipynb
*.tiff
*.prj

CHM

