CHM>=1.0.5
mesher >= 1.5.3
pandas>=1.2
urllib3
tqdm
xarray
numpy>=1.20
dask[complete]
matplotlib
seaborn
scipy
Cartopy
vtk
pyproj
branca
folium
Jinja2
requests
cfgrib
metpx-sarracenia
rioxarray
pyjson5